/target
**/*.rs.bk

# Produced by the program.
prices.csv
errors.txt
stockdata.csv

# temp/lock files which appear when a CSV file is open in LibreOffice Calc.
.~*.csv#

# Things from IntelliJ IDEA.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

